@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #313131;
  --bg-darker: #131313;
  --bg-white: #ffffff;
  --bg-light: #e7e7e7;

  --text-dark: #313131;
  --text-darker: #131313;
  --text-white: #ffffff;
  --text-lighter: #e7e7e7;

  --ff-default: sans-serif, Arial, monospace;
  --ff-monospace: monospace;
  --ff-sans-serif: sans-serif;
  --ff-arial: Arial;
  --ff-cursive: cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-default);
}
html,
body {
  min-height: 100vh;
  min-height: 100dvh;
}
.body {
  position: relative;
  background: var(--bg-white);
  color: var(--text-darker);
  font-family: var(--font-families);
}
.navbar {
  background-color: var(--bg-light);
  color: var(--text-darker);
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
}
.general-navbar__items {
  margin-inline: 0.5em;
  padding: 0.25em;
}
.general-navbar__items:hover {
  background-color: var(--bg-white);
  border-radius: 5px;
  color: var(--bg-dark);
}
.main-container {
  background-color: var(--bg-light);
  color: var(--text-darker);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar__items {
  padding: 0.25em;
  margin-inline: 0.5em;
  cursor: pointer;
}
.navbar__items:hover {
  background-color: var(--bg-white);
  border-radius: 5px;
  color: var(--bg-dark);
}
.navbar__image {
  margin-left: auto;
  margin-right: 0.5em;
  height: 100%;
  cursor: pointer;
}
.words-count {
  width: 100%;
  font-size: 1.5rem;
  line-height: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
}
/* home */
.preferences {
  display: flex;
  width: 100%;
  border: 2px solid var(--bg-darker);
  border-radius: 20px;
  margin-top: 3em;
  flex-direction: column;
}
.preferences__title {
  padding: 0.5em;
  border-bottom: 2px solid var(--bg-darker);
}
.preference-container {
  padding: 3em;
  display: flex;
  justify-content: center;
}
.preference__item {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  background-color: var(--bg-white);
  margin: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.preferences__buttons {
  background-color: var(--bg-light);
  border-radius: 10px;
  margin-block: 0.5em;
  padding: 1em;
}
.current-preference {
  background-color: var(--bg-dark);
  color: var(--text-white);
  text-decoration: underline;
}
.highlighted-test {
  background-color: var(--bg-white);
  border-radius: 10px;
  font-weight: 600;
  text-decoration: underline;
}
.reset-img {
  margin-inline: auto;
}
.tests__navbar {
  width: 100%;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 0.25em;
}
.tests__navbar-hr {
  margin-block: 1em;
  border: 3px solid var(--bg-darker);
  border-radius: 3px;
}
.inside-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7em;
}
.inside-container__hr {
  width: 100%;
  border: 2px solid var(--bg-white);
  margin-top: 0.25em;
  margin-bottom: 1.25em;
}
.words-area {
  display: flex;
  width: 90%;
  max-width: 900px;
  flex-wrap: wrap;
}
.words__spans {
  margin-right: 0.4em;
}
/* No inner flows issues whatsoever except the bar... */
.bar {
  width: 90%;
  max-width: 900px;
  margin: 1.2em 0 0.2em 0;
  height: 2em;
  display: flex;
  justify-content: space-between;
}
#input-field {
  flex-shrink: 1;
  background-color: var(--bg-white);
  width: calc(100% - 120px);
  font: inherit;
  color: var(--text-darker);
  border: none;
  border-radius: 8px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 12px;
  outline: none;
}
#input-field:focus {
  border: var(--bg-darker) solid 2px;
}
.reset-button {
  width: 110px;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--bg-white);
  margin-left: 10px;
}
.current-word {
  color: purple;
}
.correct-word {
  color: green;
}

.wrong-word {
  color: red;
}
.bg-red {
  background-color: rgba(254, 1, 1, 0.456) !important;
}
.display-results {
  position: relative;
  display: flex;
  width: 90%;
  max-width: 900px;
  flex-wrap: wrap;
  margin-block: 1em;
  background-color: var(--bg-white);
  padding: 0.5em;
  flex-direction: column;
  border-radius: 10px;
}
.close {
  position: absolute;
  right: 0.25em;
  top: 0.25em;
  color: var(--text-darker);
  user-select: none;
}
.display-results__recent {
  text-align: center;
  margin-bottom: 0.8em;
}
.hover-scale:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.display-results__containers {
  background-color: var(--bg-light);
  display: flex;
  border-radius: 10px;
  padding: 0.2em;
}
.save-button {
  background-color: var(--bg-light);
  width: 150px;
  height: 50px;
  margin: 1em auto 0 auto;
  border-radius: 10px;
}
.logos-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  padding: 0.25em;
}
.logos-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--bg-darker);
    color: var(--text-white);
  }
  .preferences {
    border: 2px solid var(--bg-light);
  }
  .preferences__title {
    border-bottom: 2px solid var(--bg-light);
  }
  .preference__item {
    background-color: var(--bg-darker);
  }
  .current-preference {
    background-color: var(--bg-light) !important;
    color: var(--text-darker);
  }
  .navbar {
    background-color: var(--bg-dark);
    color: var(--text-white);
  }
  .general-navbar__items:hover {
    background-color: var(--bg-light);
  }
  .main-container {
    background-color: var(--bg-dark);
    color: var(--text-white);
  }
  .highlighted-test {
    background-color: var(--bg-darker);
  }
  .tests__navbar-hr {
    border: 3px solid var(--bg-light);
  }
  .navbar__items:hover {
    background-color: var(--bg-light);
  }
  .inside-container__hr {
    border: 2px solid var(--bg-darker);
  }
  .arrows-wrapper {
    background-color: var(--bg-darker);
  }
  .reset-button {
    background-color: var(--bg-darker);
  }
  #input-field:focus {
    border: var(--bg-light) solid 2px;
  }
  #input-field {
    color: var(--text-white);
    background-color: var(--bg-darker);
  }
  .display-results {
    background-color: var(--bg-darker);
  }
  .display-results__containers {
    background-color: var(--bg-dark);
  }
  .close {
    color: var(--text-light);
  }
  .preferences__buttons {
    background-color: var(--bg-dark);
  }
  .save-button {
    background-color: var(--bg-dark);
  }
}
@media screen and (max-width: 800px) {
  .main {
    padding: 3em;
  }
  .bar {
    min-width: 460px;
  }
  .preference-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .main {
    padding-block: 2em;
    padding-inline: 1em;
  }
}
@media screen and (max-width: 500px) {
  .navbar__home {
    display: flex;
    flex-wrap: wrap;
  }
  .tests__navbar > * {
    display: none;
  }
  */ .tests__navbar-bars {
    display: flex;
  }
  .bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bar > * {
    width: 90%;
    max-width: 250px;
    margin: 0;
  }
  .logos-footer {
    position: relative;
  }
}
@media screen and (max-height: 600px) {
  .logos-footer {
    position: relative;
  }
}
